.footer {
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $fontfamily1;
    font-size: 18px;
    padding: 30px;
    @media (max-width: 768px) {
        font-size: 14px;
        
    }
    &__content {
        display: flex;
    }
    &__copyright {
        margin: 10px;
    }
    &__mentions {
        margin: 10px;
        cursor: pointer;
    }
    &__link {
        margin: 10px;
        text-decoration: none;
        color: black;
    }

}

.icon {
    cursor: pointer;
    @media (max-width: 768px) {
        width: 5vw;
    }
}